html {
    overflow: hidden;
    height: 100%;
}

body {
	margin: 0;
	font-family: Poppins, sans-serif;
    font-size: 1.38vw;
    line-height: 125%;
	font-weight: 200;
	height: 100%;
	overflow: auto;
	background-color: white;
}

main {
	background-color: black;
	width: 100%;
}

nav {
	padding: 20% 0;
}
a:link {
	text-decoration: none;
}

.navbar-brand {
	width: 150px;
	margin: 0 0 10px 20px;
}

.navbar-dark .navbar-nav .nav-link {
	text-decoration: none;
	color: white;
	margin: 10px 30px;
	font-family: Poppins, sans-serif;
	font-size: 1vw;
	font-weight: lighter;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: #EE236B;
	font-weight: 500;
}

#heading1 {
	padding-top: 7.5%;
	width: 75%;
}

#pageHero {
	height: 40vw;
}


#pageHero h1 {
	color: white;
	font-size: 15vw;
	font-family: 'Domaine';
	float: right;
	font-weight: bolder;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

/* body { font-family: sans-serif; } */

.carousel {
  background: black;
}

.carousel-cell {
  width: 40vw;
  height: 25vw;
  margin-right: 80px;
  counter-increment: carousel-cell;
  text-align: left;
  font-size: 4vw;
  color: white;
  margin: 2vw;
  padding: 2vw 4vw;
  line-height: 5vw;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
}

.carousel-cell:nth-of-type(1) {
  background: #0081FF;
}

.carousel-cell:nth-of-type(2) {
  background: #FF811D;
}

.carousel-cell:nth-of-type(3) {
  background: #FFC72A;
}

.carousel-cell:nth-of-type(4) {
  background: #20B58D;
}

.carousel-cell:nth-of-type(5) {
  background: #EE236B;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}


#busOff {
	color: white;
	font-size: 4.86vw;
	font-family: 'Domaine';
	font-weight: bolder;
	margin-bottom: 6vw;
	line-height: 140%;
	font-weight: 700;
}

#services {
	background-color: black;
}

.services-container {
	padding: 10vw 0 9vw;
	margin: 0 4vw;
}

.actual-services {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-unit {
	display: flex;
	width: 32%;
	margin-bottom: 30px;
	background-color: #fff;
	flex-direction: column;
	overflow: hidden;
	align-self: stretch;
}

.contact {
	background-color: black;
	border: 2px dashed white;
}

.contact button {
	margin-top: 1.5vw;
	border-color: white;
	background-color: black;
	margin-right: auto;
	padding: 9px 20px;
	font-size: 2vw;
	line-height: 165%;
	font-weight: 300;
	color: white;
	width: 90%;
}

.service-unit img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

.work-text {
	padding: 0 2vw;
	margin-top: 2vw;
}

.work-text-h3 {
	margin-bottom: 20px;
	font-size: 2.5vw;
	line-height: 113%;
	font-weight: 700;
}

.yellow {
	color: #ffc72a;
}

.green {
	color: #1fb58d;
}

.orange {
	color: #ff811d;
}

.blue {
	color: #3d9eff;
}


.work-text-p {
	margin-bottom: 2.5vw;
	font-size: 1.11vw;
	line-height: 155%;
	font: 300;
}


.client-block {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10.83vw;
}

.last-block {
	margin-bottom: 0;
}

#clients {
	background-color: white;
	margin: 0 4vw;
	padding: 10vw 0 10vw;
}

#clients h1 {
	color: black;
	font-size: 6vw;
	font-family: 'Domaine';
	font-weight: bolder;
	margin-bottom: 7vw;
}

#clients h3 {
	color: black;
	font-family: Poppins, sans-serif;
	font-size: 2vw;
	font-weight: 500;
	margin-left: 1em;
	margin-bottom: 1em;
}

.heyday img {
	margin-top: 2vw;
	width: 30%;
}

.category {
	width: 45%;
	display: inline-block;
}

.last {
	float: right;
}


footer {
	padding: 70px 0;
	background-color: black;
}


.footer-container {
    margin: auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-col {
	display: flex;
	flex-direction: column;
}

.footer-logo img {
	max-width: 320px;
}

.social-media {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 24px 0;
}

.social-media a{
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.mr-link {
	margin-right: 43px;
}

.prim-links a, .seco-links a {
	font-size: 3vw;
	color: white;
	font-family: Domine;
	margin:0 3vw;
}

.seco-links {
	margin: 2vw 0 0 7vw;
}

footer .active {
	color: #ff3c78;
}


/* media queries  */

@media screen and (max-width: 1200px) {
	.seco-links {
		margin: 3.5vw 0 0 7vw;
	}
}


@media (max-width: 992px) {
	.category {
		width: 100%;
		margin: 4vh 0;
	}

	#clients {
		padding-bottom: 30vw;
	}

	.footer-container {
		padding: 0 40px;
	}

	.footer-logo img {
		max-width: 30vw;
	}

	.social-media a {
		max-width: 3vw;
	}

}

@media screen and (max-width: 768px) {


	.work-text-p {
		display: none;
	}

	.service-unit {
		width: 47%;
	}


	.footer-container {
		flex-direction: column;
	}

	.left-col, .right-col {
		width: 100%;
		
	}

	.right-col {
		flex-direction: row;
		margin-top: 40px;
	}

	.prim-links {
		justify-content: flex-start;
		margin-top: 20px;
		width: 60%;
	}

	.prim-links, .seco-links {
		display: inline;
	}

	.seco-links {
		margin-left: 3vw;
	}

}


@media screen and (max-width: 479px) {


	.social-media a {
		font-size: 20px;
	}
}