body {
	margin: 0;
	font-family: Poppins, sans-serif;
    font-size: 1.38vw;
    line-height: 125%;
    font-weight: 200;
}

main {
	background-color: black;
	width: 100%;
}

nav {
	padding: 20% 0;
}

.navbar-brand {
	width: 150px;
	margin: 0 0 10px 20px;
}

.navbar-dark .navbar-nav .nav-link {
	text-decoration: none;
	color: white;
	margin: 10px 30px;
	font-size: 1vw;
	font-weight: lighter;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: #EE236B;
	font-weight: 500;
}

#heading1 {
	padding-top: 7.5%;
	width: 75%;
}

#pageHero {
	height: 40vw;
}


h1 {
	color: white;
	font-size: 15vw;
	font-family: 'Domaine';
	float: right;
	font-weight: bolder;
}

.work-tiles-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
}

#portfolio {
	padding: 50px 70px 0;
}

.original-img {
	position: relative;
}


#portfolio img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.normal-work-tile {
	width: 20%;
	margin-right: 0;
	margin-bottom: 3%;
}

.work-tile-heading {
	margin-bottom: 3px;
	color: black;
	line-height: 125%;
	font-size: 1.67vw;
	margin-top: 10px;
}

.work-tile-client {
	margin-bottom: 5px;
	color: black;
}


a:link {
	text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.str8bat {
	background-color: #033457;
}

.maya {
	background-color: #0B76AA;
}

.pitch-invasion {
	background-color: #FCAD15;
}

.text {
	color: white;
  font-size: 1.25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.overlay:hover {
	opacity: 1;
}


@media screen and (max-width: 992px) {
	.normal-work-tile {
		width: 31%;
		margin-right: 2%;
	}

	#portfolio {
		padding: 50px 40px;
	}
}

@media screen and (max-width: 768px) {
	.normal-work-tile {
		width: 45%;
		margin-right: 0;
	}
}